body[data-modal-status="open"] {
  overflow: hidden;
}

.modal-group {
  --modal-group-smoke-color: rgba(30, 30, 30, 0.7);

  position: fixed;
  z-index: -10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  place-items: center;
  overflow: scroll;
  background: var(--modal-group-smoke-color);
  opacity: 0;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

body[data-modal-status="open"] .modal-group {
  opacity: 1;
  z-index: 10000;
  animation-name: modal-group-open;
}

body[data-modal-status="close"] .modal-group {
  opacity: 0;
  z-index: -10000;
  animation-name: modal-group-close;
  pointer-events: none;
}

@keyframes modal-group-open {
  from {
    z-index: -10000;
    opacity: 0;
  }
  to {
    z-index: 10000;
    opacity: 1;
  }
}
@keyframes modal-group-close {
  from {
    z-index: 10000;
    opacity: 1;
  }
  to {
    z-index: -10000;
    opacity: 0;
  }
}


.modal-item {
  --modal-item-max-width: 90%;
  --modal-item-max-height: 90%;
  --modal-item-width: max(250px, var(--modal-item-max-width));
  --modal-item-height: max(250px, var(--modal-item-max-height));
  --modal-item-margin: 20px 10px;
  --modal-item-padding: 30px 10px;
  --modal-item-border-radius: 10px;
  --modal-item-background: cyan;

  width: var(--modal-item-width);
  height: var(--modal-item-height);
  margin: var(--modal-item-margin);
  padding: var(--modal-item-padding);
  border-radius: var(--modal-item-border-radius);
  background: var(--modal-item-background);
  display: none;
  opacity: 0;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}
.modal-item[data-modal-active] {
  display: grid;
  align-content: center;
  justify-items: center;
}

body[data-modal-status="open"] .modal-item[data-modal-status="open"] {
  animation-name: modal-object-open;
}
body[data-modal-status="close"] .modal-item[data-modal-status="close"] {
  animation-name: modal-object-close;
  pointer-events: none;
}

@keyframes modal-object-open {
  from {
    transform: scale(1.2);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
@keyframes modal-object-close {
  from {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: scale(1.2);
  }
  90% {
    opacity: 0;
  }
  to {
    transform: none;
  }
}