/* modern box model */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --browser-window-scrollbar-width: 0;
}
.modal-group {
  --modal-overlay-background: rgba(30, 30, 30, 0.6);
  --modal-overlay-transition-timing: 300ms;
  --modal-overlay-display: grid;

  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  place-items: center;
  margin-right: calc(var(--browser-window-scrollbar-width) * -1);
  background: var(--modal-overlay-background);
  overflow: hidden;
  opacity: 0;
  transition: opacity var(--modal-overlay-transition-timing);

  & > .modal-item {
    /* --modal-item-transition: translateY(-50px); */
    --modal-item-transition: scale(1.1);

    overflow: auto;
    transform: var(--modal-item-transition);
    opacity: 0;
    transition: all var(--modal-overlay-transition-timing);

    /* default style */
    max-width: 95vw;
    max-height: 95vh;
    border-radius: 8px;
  }
}

body[data-modal-status="on"] {
  overflow: hidden;
  padding-right: var(--browser-window-scrollbar-width);

  & .modal-group {
    margin-right: 0;
    opacity: 1;

    & .modal-item[data-modal-status="on"] {
      transform: unset;
      opacity: 1;
    }
  }
}