/* modern box model */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --browser-window-scrollbar-width: 0;
}
.modal-group {
  --modal-overlay-background: rgba(30, 30, 30, 0.6);
  --modal-overlay-transition-timing: 500ms;
  --modal-overlay-display: grid;

  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  place-items: center;
  background: var(--modal-overlay-background);
  opacity: 0;
  transition: opacity var(--modal-overlay-transition-timing);
}

body[data-modal-status="on"] {
  overflow: hidden;
  padding-right: var(--browser-window-scrollbar-width);

  & .modal-group {
    padding-right: var(--browser-window-scrollbar-width);
    opacity: 1;
  }
}